@model MyMotoWorld.Web.ViewModels.News.NewsListViewModel;

@{
    this.ViewData["Title"] = "News";
}

<head>
    <link href="/css/newscss.css" rel="stylesheet" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<h1 id="newstitle" class="text-center mt-4">News</h1>


<div class="col-md-10">

    @foreach (var news in Model.NewsList)
    {
        <a class="text-dark" asp-controller="News" asp-action="NewsDetails" asp-route-id="@news.Id">

            <div class="ml-5 mt-5">
                
                <div class="row">
                    <div class="col-md-4">
                        <div class="imgAbt">
                            <img width="500" src="@news.MainImagePath" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h2 class="mb-2">@news.Name</h2>
                        <p id="newsdesctiption">@news.Description</p>
                    </div>
                </div>
            </div>

        </a>
    }

</div>


<hr />

<partial name="_PagingPartial" model="@Model" />