@model MyMotoWorld.Web.ViewModels.MotorBike.MotorBikeListViewModel;
@using MyMotoWorld.Common


@{
    this.ViewData["Title"] = "All Bikes, page" + Model.PageNumber;
}

<head>
    <link href="~/css/storecss.css" rel="stylesheet" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>



<div class="row">

    <div class="col-md-2 menu ml-5 m-3 mt-5">
        <div class="ml-5">
            <h1>Filters</h1>
        </div>
        <div class="ml-5">
            <div class="custom-control custom-checkbox my-2">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Model</label>
            </div>
            <div class="custom-control custom-checkbox my-2">
                <input type="checkbox" class="custom-control-input" id="customCheck2">
                <label class="custom-control-label" for="customCheck2">Power</label>
            </div>
            <div class="custom-control custom-checkbox my-2">
                <input type="checkbox" class="custom-control-input" id="customCheck3">
                <label class="custom-control-label" for="customCheck3">Type</label>
            </div>

            <div class="custom-control custom-checkbox my-2">
                <input type="checkbox" class="custom-control-input" id="customCheck4">
                <label class="custom-control-label" for="customCheck4">Capacity</label>
            </div>

            <div class="custom-control custom-checkbox my-2">
                <input type="checkbox" class="custom-control-input" id="customCheck5">
                <label class="custom-control-label" for="customCheck5">Price</label>
            </div>

            <div class="custom-control custom-checkbox my-2">
                <input type="checkbox" class="custom-control-input" id="customCheck6">
                <label class="custom-control-label" for="customCheck6">Rating</label>
            </div>

            <div class="custom-control custom-checkbox my-2">
                <input type="checkbox" class="custom-control-input" id="customCheck7">
                <label class="custom-control-label" for="customCheck7">Likes</label>
            </div>

            <div class="custom-control custom-checkbox my-2">
                <input type="checkbox" class="custom-control-input" id="customCheck8">
                <label class="custom-control-label" for="customCheck8">Colore</label>
            </div>

            <a class="btn btn-success" asp-controller="News" asp-action="NewsDetails" asp-route-id="">Searche</a>
        </div>
    </div>

    <div class="col-md-7 mt-5 row">

        @foreach (var bike in Model.MotorBikes)
        {
            <a class="text-dark" asp-controller="Store" asp-action="Details" asp-route-id="@bike.Id">
                <div class="card m-4 col-md-3">
                    <div id="newsimage" class="thumbnail">
                        <img class="card-img" src=@bike.MainImagePath alt="bike">
                    </div>
                    <div class="card-body">
                        <span class="badge badge-success">@bike.Name</span>
                        <h4 class="card-title mt-2">@bike.Model @bike.EngineCapacity</h4>
                        <p class="card-text text-black-10"><i class="fas fa-euro-sign"></i>@bike.Price</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-link" asp-controller="Store" asp-action="AddLike">Like</a>
                    </div>
                </div>
            </a>
        }

    </div>

    <div class="col-md-2 right mt-5">
        <div class="aside">
            <h2>What?</h2>
            <p>Chania is a city on the island of Crete.</p>
            <h2>Where?</h2>
            <p>Crete is a Greek island in the Mediterranean Sea.</p>
            <h2>How?</h2>
            <p>You can reach Chania airport from all over Europe.</p>
        </div>
    </div>


</div>

<hr />

<partial name="_PagingPartial" model="@Model" />
