@model MyMotoWorld.Web.ViewModels.MotorBike.MotorBikeListViewModel;
@using MyMotoWorld.Common


@{
    this.ViewData["Title"] = "All Bikes, page" + Model.PageNumber;
}

<head>
    <link href="~/css/storecss.css" rel="stylesheet" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>



<div class="row">

    <div class="col-md-2 menu ml-5 m-3 mt-5">

        <div class="text-hide mt-5">
            <p>MoveDown</p>
        </div>

        <div class="ml-5">
            <h1>Filters</h1>
        </div>

        <form asp-action="Index" method="get">
            <div class="form-actions no-color col justify-content-center">
                <p class="ml-5">Find by name</p>
                <p>
                    <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                </p>
                <p>
                    <input type="submit" value="Search" class="btn btn-default" /> |
                    <a asp-action="Index">Back to Full List</a>
                </p>
            </div>
        </form>

        <hr />

        <div class="ml-5">
            <div class="custom-control custom-checkbox my-2">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Model</label>
            </div>
            <div class="custom-control custom-checkbox my-2">
                <input type="checkbox" class="custom-control-input" id="customCheck2">
                <label class="custom-control-label" for="customCheck2">Power</label>
            </div>
            <div class="custom-control custom-checkbox my-2">
                <input type="checkbox" class="custom-control-input" id="customCheck3">
                <label class="custom-control-label" for="customCheck3">Type</label>
            </div>

            <div class="custom-control custom-checkbox my-2">
                <input type="checkbox" class="custom-control-input" id="customCheck4">
                <label class="custom-control-label" for="customCheck4">Capacity</label>
            </div>

            <div class="custom-control custom-checkbox my-2">
                <input type="checkbox" class="custom-control-input" id="customCheck5">
                <label class="custom-control-label" for="customCheck5">Price</label>
            </div>

            <div class="custom-control custom-checkbox my-2">
                <input type="checkbox" class="custom-control-input" id="customCheck6">
                <label class="custom-control-label" for="customCheck6">Rating</label>
            </div>

            <div class="custom-control custom-checkbox my-2">
                <input type="checkbox" class="custom-control-input" id="customCheck7">
                <label class="custom-control-label" for="customCheck7">Likes</label>
            </div>

            <div class="custom-control custom-checkbox my-2">
                <input type="checkbox" class="custom-control-input" id="customCheck8">
                <label class="custom-control-label" for="customCheck8">Colore</label>
            </div>

            <a class="btn btn-success" asp-controller="Store" asp-action="GetAllSportBikesFilter" asp-route-id="filter">Searche</a>
        </div>
    </div>

    <div class="col-md-7 mt-5 row">

        @foreach (var bike in Model.MotorBikes)
        {
            <a class="text-dark" asp-controller="Store" asp-action="Details" asp-route-id="@bike.Id">
                <div class="card m-4 col-md-3">
                    <div id="newsimage" class="thumbnail">
                        <img class="card-img" src=@bike.MainImagePath alt="bike">
                    </div>
                    <div class="card-body">
                        <span class="badge badge-success">@bike.Name</span>
                        <h4 class="card-title mt-2">@bike.Model @bike.EngineCapacity</h4>
                        <p class="card-text text-black-10"><i class="fas fa-euro-sign"></i>@bike.Price</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-link text-black-10">@bike.BikeType</a>
                    </div>
                </div>
            </a>
        }

    </div>

    <div class="col-md-2 right mt-5">
        <div class="aside">
            <div  class="thumbnail">
                <img class="card-img" src="/images/logos/gifs/0fd7ac130d0d05fefc578eb84b91ec15.gif" alt="Alternate Text" />
            </div>
            <p>“You don’t stop riding when you get old, you get old when you stop riding.”</p>
            <div class="thumbnail">
                <img class="card-img" src="/images/logos/12swesd233ed.png" alt="Alternate Text" />
            </div>
            <p>“I don’t really feel like going for a ride today. Said no motorcycle rider ever.”</p>
            <div class="thumbnail">
                <img class="card-img" src="/images/logos/12swesd233ed.png" alt="Alternate Text" />
            </div>
            <p>“The only thing better than a streetbike.. is a woman riding one.”</p>
            <div class="thumbnail">
                <img class="card-img" src="/images/logos/12swesd233ed.png" alt="Alternate Text" />
            </div>
            <p>
                “Four wheels move the body,
                Two wheels move the soul.”
            </p>
            <div class="thumbnail">
                <img class="card-img" src="/images/logos/12swesd233ed.png" alt="Alternate Text" />
            </div>
            <p>“Only a biker knows why a dog sticks his head out of a car window.”</p>

        </div>

        <div class="thumbnail">
            <img class="card-img" src="/images/logos/4be45629208324379f193c4044bcc62a.jpg" alt="Alternate Text" />
        </div>
    </div>


</div>

<hr />

<partial name="_PagingPartial" model="@Model" />
