@model MyMotoWorld.Web.ViewModels.Massages.ContactMessagesListViewModel;

@{
    this.ViewData["Title"] = "EditAllMassages";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="text-hide mt-5">
    <p>MoveDown</p>
</div>

<h1 class="text-center">All Messages</h1>

<div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="width: 80px;">Name</th>
                <th scope="col" style="width: 80px;">Email</th>
                <th scope="col">Subject</th>
                <th scope="col" style="width: 200px;">Message</th>
                <th scope="col" style="width: 80px;">Send Date</th>
                <th scope="col">Status</th>
                <th scope="col">Edit</th>
                <th scope="col">Answer</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>

        @foreach (var message in Model.ContactMessages)
        {
            <tbody>

                <tr>

                    <td>@message.Name</td>
                    <td>@message.Email</td>
                    <td>@message.Subject</td>
                    <td>@message.Message</td>
                    <td>@message.SendDate</td>
                    <td>@message.Status</td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Admin" asp-action="EditMessage" asp-route-id="@message.Id">Edit Messege</a>
                    </td>
                    <td>
                        <a class="btn btn-success" asp-controller="Admin" asp-action="Answer" asp-route-id="@message.Id">Answer Messege</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-controller="Admin" asp-action="Delete" asp-route-id="@message.Id">Delete Messege</a>
                    </td>


                </tr>

            </tbody>
        }
    </table>
</div>