@using MyMotoWorld.Common
@model MyMotoWorld.Web.ViewModels.Home.CombinedViewModel;

@{
    this.ViewData["Title"] = "Home Page";
}
<head>
    <link href="~/css/homecss.css" rel="stylesheet" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Langar&display=swap" rel="stylesheet">
</head>

<div id="homebg" class="text-center">
    <div class="row" style="padding-left: 240px;">
        <div>
            <h1 id="welcomelogo" class="display-4 text-light">Welcome to</h1>
            <h1 class="display-4 text-light"><span>@GlobalConstants.SystemName</span>!</h1>
        </div>
        <div class="mt-5" style="padding-left: 170px; padding-top: 35px;">
            <img src="/images/logos/gifs/bd04e40639747bc61b2ef71067acb4e9.png" alt="Alternate Text" />
        </div>
        <div class="mt-5 text-light text-left" style="padding-left: 170px; padding-top: 115px; font-family: Langar, cursive;">
            <h3>A PLACE FOR FREE PEOPLE</h3>
            <h3>A SITE FOR FREE MINDS</h3>
            <h3>A SHOP FOR HAPPINESS</h3>
            <h3 style="color: orangered;">JOIN THE MOTO WORLD</h3>
            <h3 style="color: orangered;">AND FEEL THE FREEDOM</h3>
            <h3 style="color: orangered;">AS THOUSANDS MORE</h3>
        </div>
    </div>


    <a id="joinWorldButton" class="btn btn-primary" asp-controller="News" asp-action="Index">Join The World</a>

    <p class="text-light">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="position-absolute">

</div>

<div class="row justify-content-md-center">

    @foreach (var news in Model.NewsInfo.NewsList)
    {
        <div id="newsHomeCard" class="card m-3 mt-5 col-md-3">
            <div class="thumbnail">
                <img class="card-img" src=@news.MainImagePath alt="news">
            </div>
            <div class="card-body">
                <span class="badge badge-success">News</span>
                <h4 class="card-title mt-2">@news.Name</h4>
                <p class="card-text">@news.Description</p>
            </div>

            <div class="card-footer row justify-content-md-end">
                <a class="btn btn-success" asp-controller="News" asp-action="NewsDetails" asp-route-id="@news.Id">Read More</a>
            </div>

        </div>
    }

</div>

<div class="row justify-content-md-center">

    <div class="col-md-2 menu ml-5 m-3 mt-5">
        <ul class="list-grupe display-6 font-weight-bold">
            <li>@Model.BikeInfo.MotorBikeCount - Bikes</li>
            <li>@Model.BikeInfo.BikeTypeCount - BikeTypes</li>
            <li>@Model.BikeInfo.EngineCount - Engines</li>
            <li>@Model.BikeInfo.ExtrasCount - Extras</li>
            <li>@Model.BikeInfo.MostLikedBike - MostLikedBike</li>
            <li>@Model.BikeInfo.MostLikedType - MostLikedType</li>
        </ul>
    </div>

    <div class="mt-5">
        <img class="img" src="~/images/commercial/Anything is possible.png" alt="image">
    </div>

</div>



