@using MyMotoWorld.Common
@model MyMotoWorld.Web.ViewModels.Home.IndexViewModel

@{
    this.ViewData["Title"] = "Home Page";
}
<head>
    <link href="~/css/homecss.css" rel="stylesheet" asp-append-version="true" />
</head>

<div id="homebg" class="text-center">
    <h1 id="welcomelogo" class="display-4 text-light">Welcome to <span>@GlobalConstants.SystemName</span>!</h1>

    <a asp-controller="Home" asp-action="Privacy"><button class="btn btn-primary">Join The World</button></a>

    <p class="text-light">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">    
    <h2 class="display-4">You can choose between:</h2>
    <div class="col-md-4 offset-md-4">
        <ul class="list-grupe display-4">
            <li class="text-primary">MotorBikes: @Model.MotorBikeCount</li>
            <li class="text-primary">BypeTypes: @Model.BikeTypeCount</li>
            <li class="text-primary">Engines: @Model.EngineCount</li>
            <li class="text-primary">MotorBikes: @Model.MotorBikeCount</li>
            <li class="text-primary">MotorBikes: @Model.MotorBikeCount</li>
            <li class="text-primary">LikedBikes: @Model.MostLikedBike</li>
            <li class="text-primary">LikedType: @Model.MostLikedType</li>
        </ul>
    </div>
</div>

<div class="text-center display-4">
    <a asp-area="" asp-controller="Home" asp-action="Privacy">Go Privacy</a>
</div>


