@using MyMotoWorld.Common
@model MyMotoWorld.Web.ViewModels.Home.CombinedViewModel;

@{
    this.ViewData["Title"] = "Home Page";
}
<head>
    <link href="~/css/homecss.css" rel="stylesheet" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Langar&display=swap" rel="stylesheet">
    <link href="~/css/chatwindowcss.css" rel="stylesheet" asp-append-version="true" />
</head>

<div id="homebg" class="text-center">
    <div class="row justify-content-between mt-5">
        <div class="text-hide col-md-1">
            <p>MoveLeft</p>
        </div>
        <div class="col-md-3">
            <h1 id="welcomelogo" class="display-4 text-light">Welcome to</h1>
            <h1 class="display-4 text-light"><span>@GlobalConstants.SystemName</span>!</h1>
        </div>
        <div id="welcomelogo2" class="col-md-4">
            <img src="/images/logos/gifs/bd04e40639747bc61b2ef71067acb4e9.png" alt="Alternate Text" />
        </div>
        <div id="welcomelogo3" class="text-light text-left col-md-4" font-family: Langar, cursive;">
            <h3>A PLACE FOR FREE PEOPLE</h3>
            <h3>A SITE FOR FREE MINDS</h3>
            <h3>A SHOP FOR HAPPINESS</h3>
            <h3 style="color: orangered;">JOIN THE MOTO WORLD</h3>
            <h3 style="color: orangered;">AND FEEL THE FREEDOM</h3>
            <h3 style="color: orangered;">AS THOUSANDS MORE</h3>
        </div>
        <div class="text-hide col-md-1">
            <p>MoveRight</p>
        </div>
    </div>


    <a id="joinWorldButton" class="btn btn-primary" asp-controller="News" asp-action="Index">Join The World</a>

    <p class="text-light">Learn about <a href="https://www.suzuki.com">the official site of suzuki</a>.</p>
</div>

<div class="position-absolute">

</div>

<div>
    <div class="row justify-content-md-center">

        @foreach (var news in Model.NewsInfo.NewsList)
        {
            <div id="newsHomeCard" class="card m-3 mt-5 col-md-3">
                <div class="thumbnail">
                    <img class="card-img" src=@news.MainImagePath alt="news">
                </div>
                <div class="card-body">
                    <span class="badge badge-success">News</span>
                    <h4 class="card-title mt-2">@news.Name</h4>
                    <p class="card-text">@news.Description</p>
                </div>

                <div class="card-footer row justify-content-md-end">
                    <a class="btn btn-success" asp-controller="News" asp-action="NewsDetails" asp-route-id="@news.Id">Read More</a>
                </div>

            </div>
        }

    </div>

    <div class="row justify-content-md-center">
        <div class="row justify-content-center">

            <div class="col-md-4 mt-4">
                <img src="/images/logos/4be45629208324379f193c4044bcc62a.jpg" alt="Alternate Text" style="width: 300px;" />
            </div>

            <div id="bikesinfo" class="col-md-6 ml-5 m-3 mt-4" style="font-family: Ultra;">
                <p id="bikesinfo" class="row justify-content-end">MostLikedBike - <span style="font-size: larger; ">@Model.BikeInfo.MostLikedBike</span></p>
                <p id="bikesinfo" class="row justify-content-end mr-3">BikeTypes -<span style="font-size: larger; "> @Model.BikeInfo.BikeTypeCount</span></p>
                <p id="bikesinfo" class="row justify-content-end mr-4">Engines - <span style="font-size: larger; ">@Model.BikeInfo.EngineCount</span></p>
                <p id="bikesinfo" class="row justify-content-end mr-4">Extras - <span style="font-size: larger; ">@Model.BikeInfo.ExtrasCount</span></p>
                <p id="bikesinfo" class="row justify-content-end mr-3">MotorBikes - <span style="font-size: larger; ">@Model.BikeInfo.MotorBikeCount</span></p>
                <p id="bikesinfo" class="row justify-content-end">MostLikedType - <span style="font-size: larger; ">@Model.BikeInfo.MostLikedType</span></p>
            </div>
        </div>

        <div class="card mt-5">
            <img class="img" src="~/images/commercial/Anything is possible.png" alt="image">
        </div>

    </div>

</div>
@if (this.User.Identity.IsAuthenticated)
{
    <button class="openChatBtn" onclick="openForm()">Chat</button>
    <div class="openChat">
        <form id="chatForm">
            <h5 id="chatTitle">Chat</h5>
            <div id="divChatWindow" placeholder="Chat window.." required></div>
            <input id="messageInput" placeholder="Type message.." required>
            <button id="sendButton" type="button" class="btn" data-userid="@Model.UserId">Send</button>
            <button class="btn close" onclick="closeForm()">Close</button>
        </form>
    </div>
}



<script src="~/js/chatwindow.js" asp-append-version="true"></script>


@section scripts{

    <script type="module" src="~/js/chatlogic.js" asp-append-version="true"></script>
}


